<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <%# <%= render 'layouts/admin/sidebar/user_card' %>
    <%= render 'layouts/admin/sidebar/search' %>
    <%= render 'layouts/admin/sidebar/menu' %>
  </section>
  <!-- /.sidebar -->
</aside>
<!-- /.Left side column -->
