<!-- Settings tab content -->
<div class="tab-pane" id="control-sidebar-settings-tab">
  <form method="post">
    <h3 class="control-sidebar-heading">General Settings</h3>

    <div class="form-group">
      <label class="control-sidebar-subheading">
        Report panel usage
        <input type="checkbox" class="pull-right" checked>
      </label>

      <p>
        Some information about this general settings option
      </p>
    </div>
    <!-- /.form-group -->
  </form>
</div>
<!-- /.tab-pane -->
