<%= content_for :title, 'Admin Users' %>



<div class="row">
  <div class="col-md-12">
    <div class='box box-primary'>
      <div class='box-header'>
        <div class="row">
          <div class="col-md-12">
            <%= link_to 'Novy admin', new_admin_admin_user_path, class: 'btn btn-default', role: 'button' %>
          </div>
        </div>
      </div>
      <div class='box-body'>
        <div class='row'>
          <div class='col-md-12'>
            <%= render 'list', admin_users: @admin_users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
