<%= content_for :title, 'New Admin User' %>

<div class="row">
  <div class="col-md-12">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class='box box-primary'>
      <div class='box-body'>
        <%= render 'form', admin_user: @admin_user %>
      </div>
    </div>
  </div>
</div>
